opencv-python==4.6.0.66
numpy==1.21.6
pillow==9.5.0
pdf2image==1.17.0
paddleocr==2.5.0.2
paddlepaddle-gpu==2.5.2
vietocr==0.3.10
Flask==2.2.5
Werkzeug==2.2.3
boto3==1.33.13
botocore==1.33.13
confluent-kafka==2.10.0
python-dotenv==0.21.1
requests==2.31.0
pyyaml==6.0.1